.user-layout-container {
    display: flex;
}

.PxZmyhU8yS {
    cursor: pointer;
    padding: 5px;
    display: grid;
    grid-template-columns: 0.1fr 1fr;
}

.Jl9cqWcRLj {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.HgvBcRcPNJ {
    color: #00B4D8;
    font-weight: 600;
}

.Brs7RuPcP1 {
    width: 20%;
    height: fit-content;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 20px 0px;
    padding: 15px;
}

.clQnFbXH3e {
    padding: 10px 44px;
}

.Vd1Twwpi5c {
    margin-right: 12px;
    font-size: 24px;
}

.mbarwrLNQn {
    width: 80%;
    height: fit-content;
}

@media (min-width: 601px) and (max-width: 800px) {
    .user-layout-container {
        font-size: 14px !important;
    }
}