.fo37ve30JB {
    height: 450px;
    width: 100%;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;

    .xZBy7lO4H6 {
        width: 100%;

        .vW6erAxOPH {
            width: 100%;
            height: 200px;
        }
    }

    .mDUCakFeTV {
        padding: 25px 20px;

        .j8NE357MvW {
            color: #F0488F;
            font-size: 14px;
        }

        .GUatHlVr3T {
            margin: 10px 0px;
            font-size: 24px;
            font-weight: 600;
            word-wrap: break-word;
        }

        .o8GCk7Jvox {
            font-size: 14px;
            height: 76px;
            display: -webkit-box;
            max-width: 100%;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            p {
                margin-block-start: 0 !important;
                margin-block-end: 0 !important;
            }
        }

        .Rz4svPY2s5 {
            margin-top: 15px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;
        }
    }
}

@media (min-width: 551px) and (max-width: 769px) {
    .VNAMgHYWSk {
        grid-template-columns: 48% 48%;
    }
}

@media (min-width: 426px) and (max-width: 551px) {
    .fo37ve30JB {
        margin-bottom: 25px;
    }
}

@media (max-width: 425px) {
    .fo37ve30JB {
        margin-bottom: 25px;
    }
}