.prod-path-container {
    max-width: 100%;
    width: fit-content;
    font-size: .8125rem;
    display: -webkit-box;
    max-width: 100%;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.name-container {
    width: fit-content;
}

.prod-path-clickable {
    color: var(--a-tag-text);
    cursor: pointer;
}