.category-container {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

.card-category {
    width: 200px;
    height: 180px;
    cursor: pointer;
    display: flex;
    background-color: rgba(0, 132, 255, 0.74);
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(0, 247, 255);
}

@media (max-width: 1024px) {
    .card-category {
        width: 150px;
        height: 120px;
    }
}

.card-category:hover {
    border: 2px solid rgb(0, 110, 255);

    .img-category {
        transform: scale(1.2);
    }
}

.text-category {
    font-size: 18px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.img-category {
    width: 50px;
    height: 50px;
    margin-top: 30px;
}

.head-category {
    font-family: jost, sans-serif;
    font-weight: 700;
    font-size: larger;
    padding-top: 20px;
}