.sign-in-form {
    height: fit-content;
    width: 400px;
    background-color: #fff;
    border-radius: 10px;

    .sign-in-form-body {
        padding: 30px;

        .title {
            font-size: 25px;
        }

        .form-input-info {
            padding: 30px 0;

            .submit-button {
                margin-top: 15px;
                padding: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                border-radius: 2px;
                background-color: var(--primary-color);
                font-size: 18px;
                color: #fff;
            }

            .error-message {
                color: var(--error-color);
            }
        }

        .sub-container {
            font-size: 14px;
            margin-top: 10px;

            .forgot-password {
                color: var(--a-tag-text);
                cursor: pointer;
            }

            .vertical-divider {
                margin-top: 15px;
                border-top: 1px solid rgba(0, 0, 0, 0.1);
            }

            .another-info {
                display: flex;
                margin-top: 20px;
                justify-content: center;
                align-items: center;

                .sign-up-router {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.5);

                    .sign-up-text {
                        color: var(--primary-color);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}